.bs-application-layout {
  .ant-layout-header,
  .ant-layout-footer {
    background: #ffffff !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .ant-layout-content {
    width: 80%;
    margin: 50px auto;
    .bs-reload-container {
      display: flex;
      flex-direction: column;
    }
  }
  .ant-layout-header {
    height: max-content;
    h1 {
      color: #2a3697;
    }
  }
  .bs-normative-logo {
    max-width: 11.5625rem;
  }
}
